<footer class="footer">

  <div class="footer-wrapper">

    <!-- KIRI (3 ICON) -->
    <div class="footer-left">
      <a href="https://web.facebook.com/profile.php?id=61577266951408" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://www.tiktok.com/@smpn20konsel7" target="_blank">
        <i class="fab fa-tiktok"></i>
      </a>

      <a href="https://www.instagram.com/smpn20konsel" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

    <!-- TENGAH -->
    <div class="footer-bottom">
      <p>© 2026 SMPN 20 Konawe Selatan</p>
    </div>

    <!-- KANAN (2 ICON) -->
    <div class="footer-right">
      <a href="https://youtube.com/@smpn20konsel" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>

      <a href="https://wa.me/qr/AXZTONE55Z4YK1" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>

  </div>

</footer>