<footer class="app-footer">

  <div class="app-footer-wrapper">

    <!-- KIRI -->
    <div class="app-footer-left">

      <a href="https://web.facebook.com/profile.php?id=61577266951408" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://www.tiktok.com/@smpn20konsel7" target="_blank">
        <i class="fab fa-tiktok"></i>
      </a>

      <a href="https://www.instagram.com/smpn20konsel" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

    </div>

    <!-- TENGAH -->
    <div class="app-footer-center">
      <p>© 2026 SMPN 20 Konawe Selatan</p>
    </div>

    <!-- KANAN -->
    <div class="app-footer-right">

      <a href="https://youtube.com/@smpn20konsel" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>

      <a href="https://wa.me/qr/AXZTONE55Z4YK1" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>

    </div>

  </div>

</footer>