<header>

  <!-- ================= TOP BAR ================= -->

  <div class="top-bar">

    <div class="top-info">
      <i class="fas fa-phone"></i> -
      &nbsp;&nbsp;
      <i class="fas fa-envelope"></i>
      smpn20konsel96@gmail.com
    </div>

    <div class="social-icons">

      <a href="https://web.facebook.com/profile.php?id=61577266951408">
        <i class="fab fa-facebook"></i>
      </a>

      <a href="https://www.tiktok.com/@smpn20konsel7">
        <i class="fab fa-tiktok"></i>
      </a>

      <a href="https://www.instagram.com/smpn20konsel">
        <i class="fab fa-instagram"></i>
      </a>

      <a href="https://youtube.com/@smpn20konsel">
        <i class="fab fa-youtube"></i>
      </a>

      <a href="https://wa.me/qr/AXZTONE55Z4YK1">
        <i class="fab fa-whatsapp"></i>
      </a>

    </div>

  </div>

  <!-- ================= NAVBAR ================= -->

  <nav>

    <!-- LOGO -->

    <div class="logo">

      <img
        src="../../image/Logo_transparent.png"
        alt="Logo SMPN20KONSEL"
      >

      <div class="logo-text">

        <h2>
          SMPN20KONSEL
        </h2>

        <small>
          Tempat menimba ilmu, tumbuh berprestasi
        </small>

      </div>

    </div>

    <!-- MENU -->

    <div class="nav-links">

      <a href="index.html">
        Home
      </a>

      <!-- DROPDOWN PROFIL -->

      <div class="dropdown">

        <button class="dropbtn">
          Profil
          <i class="fas fa-chevron-down"></i>
        </button>

        <div class="dropdown-content">

          <a href="profil.html">
            Profil Sekolah
          </a>

          <a href="data_siswa.html">
            Data Siswa
          </a>

          <a href="profil_guru.html">
            Data Guru
          </a>

        </div>

      </div>

      <!-- DROPDOWN MANAJEMEN -->

      <div class="dropdown">

        <button class="dropbtn">
          Manajemen
          <i class="fas fa-chevron-down"></i>
        </button>

        <div class="dropdown-content">

          <a href="humas.html">
            Humas
          </a>

          <a href="sarpas.html">
            Sarpras
          </a>

          <a href="kesiswaan.html">
            Kesiswaan
          </a>

          <a href="berita.html">
            Berita
          </a>

          <a href="kurikulum.html">
            Kurikulum
          </a>

          <a href="informasi.html">
            Informasi
          </a>

        </div>

      </div>

      <a href="galeri.html">
        Galeri
      </a>

      <a href="kontak.html">
        Kontak
      </a>

      <!-- BUTTON -->

      <a
        href="daftar_spmb.html"
        class="login-btn"
      >
        Daftar SPMB
        <i class="fas fa-arrow-right"></i>
      </a>

    </div>

  </nav>

</header>
