<header class="app-header">

  <!-- ================= TOP BAR ================= -->
  <div class="app-topbar">

    <div class="app-topinfo">
      <i class="fas fa-phone"></i> -
      &nbsp;&nbsp;
      <i class="fas fa-envelope"></i>
      smpn20konsel96@gmail.com
    </div>

    <div class="app-social">

      <a href="https://web.facebook.com/profile.php?id=61577266951408">
        <i class="fab fa-facebook"></i>
      </a>

      <a href="https://www.tiktok.com/@smpn20konsel7">
        <i class="fab fa-tiktok"></i>
      </a>

      <a href="https://www.instagram.com/smpn20konsel">
        <i class="fab fa-instagram"></i>
      </a>

      <a href="https://youtube.com/@smpn20konsel">
        <i class="fab fa-youtube"></i>
      </a>

      <a href="https://wa.me/qr/AXZTONE55Z4YK1">
        <i class="fab fa-whatsapp"></i>
      </a>

    </div>

  </div>

  <!-- ================= NAVBAR ================= -->
  <nav class="app-nav">

    <!-- LOGO -->
    <div class="app-logo">

      <img src="image/logo.png" alt="Logo SMPN20KONSEL">

      <div class="logo-text">
        <h2>SMPN20KONSEL</h2>
        <small>Tempat menimba ilmu, tumbuh berprestasi</small>
      </div>

    </div>

    <!-- MENU -->
    <div class="app-menu" id="appMenu">

      <a href="index.html">Home</a>

      <!-- DROPDOWN PROFIL -->
      <div class="app-dropdown">

        <button class="app-dropbtn">
          Profil <i class="fas fa-chevron-down"></i>
        </button>

        <div class="app-dropdown-content">
          <a href="profil.html">Profil Sekolah</a>
          <a href="data_siswa.html">Data Siswa</a>
          <a href="profil_guru.html">Data Guru</a>
        </div>

      </div>

      <!-- DROPDOWN MANAJEMEN -->
      <div class="app-dropdown">

        <button class="app-dropbtn">
          Manajemen <i class="fas fa-chevron-down"></i>
        </button>

        <div class="app-dropdown-content">
          <a href="humas.html">Humas</a>
          <a href="sarpas.html">Sarpras</a>
          <a href="kesiswaan.html">Kesiswaan</a>
          <a href="berita.html">Berita</a>
          <a href="kurikulum.html">Kurikulum</a>
          <a href="bk.html">Bimbingan Konseling</a>
          <a href="informasi.html">Informasi</a>
        </div>

      </div>

      <a href="galeri.html">Galeri</a>
      <a href="kontak.html">Kontak</a>

      <a href="daftar_spmb.html" class="app-btn">
        Daftar SPMB <i class="fas fa-arrow-right"></i>
      </a>

    </div>

    <!-- HAMBURGER -->
    <div class="app-toggle" id="appToggle">
      <i class="fas fa-bars"></i>
    </div>

  </nav>

</header>